//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 10 12:09:52 2022
//! **************************************************************************

SCHEMATIC START;
NET "txclk_BUFGP/IBUFG" BEL "txclk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "rxclk_BUFGP/IBUFG" BEL "rxclk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

